root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,hpp,cpp,cxx}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{hlsl,fx,usf,ush,slang}]
indent_style = space
indent_size = 4
tab_width = 4
